<?xml version="1.0"?>

<model>
  <name>marsyard terrain</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Krzysztof Stężała</name>
    <email>krzysztof.stezala@student.put.poznan.pl</email>
  </author>

  <description>
    marsyard terrain model
  </description>

</model>
